---
import {BsGithub} from "react-icons/bs";
import { Image } from 'astro:assets';
interface Props {
	title: string;
	body: string;
	repo: string;
	img : string;
	tecnologies :  string [];
}

const { repo, img, tecnologies, title, body } = Astro.props;
---

	<div class="container-card">
		<a href={repo} target="_blank">
			<div class="div-img">
				<img src={img} class="img-repo" alt={title} />
			</div>
			
		</a>
		<h5 class="title-card">
			{title}
		</h5>
		<section class="tenologias">
			{
			tecnologies.map((tech) => (
				<img src={tech} class="tecnologias-usadas" ></img>
			))
			}
		</section>
		<p>
			{body}
		</p>
		<div class="div-repo">
			<a  class="repo" href={repo}>
				<span>
				<BsGithub/>
				</span>
				<label for="">Ver el codigo</label>
			</a>
		</div>

</div>


<style>
	.div-img{
		overflow: hidden;
		border-top-right-radius: 25px;
		border-top-left-radius:25px ;
	}
	.img-repo{
		transition: transform 0.5s;
	}
	.img-repo:hover{
		transform: scale(1.2);
		border-radius: 25px;
	}
	.tenologias img{
		
		width: 40px;
		height: 40px;
		margin-bottom: -10px;
	}
	span{
		margin:5px;
	}
	.div-repo{
		display: flex;

		justify-content: center;
	}
	.repo:hover{
		outline:2px solid rgb(13, 77, 149);
	}
	.repo{	
		font-size: 1.2rem;
		background-color: rgba(0, 0, 0, 0.4);
		color: white;	
		border-radius: 25px;
		text-decoration: none;
		margin: 0 auto;
		padding: 5px;
		margin-bottom: 10px;
		transition: 0.5s;
		text-align: center;
	}
	p{
		
		padding-left:10px;
		padding-right: 10px;
		text-align: center;
		font-size: 1.2rem;
	}
	section{
		display: flex;
		justify-content: center;
		
	}
	section img{
		margin-top: -20px;
		width: 20px;
		height: 20px;
	}
	.title-card{
		
		text-align: center;
		font-size: 1.5rem;
		margin-top: -8px;		
	}
	.container-card{
		border-radius: 25px;
		flex: 0 0 calc(40% - 10px); /* Ancho del 50% para que ocupe dos en la misma fila */
    margin: 5px;
    background-color: rgb(92, 84, 112);
	transition: all 0.3s;
	}
	img{
		max-width: 100%;
		border-top-right-radius: 25px;
		border-top-left-radius: 25px;
	}
	.container-card:hover{
		outline: 2px solid black;
		transform: translateY(-10px);
	}
</style>
